footer {
    background-color: #333; /* Цвет фона footer */
    color: white; /* Цвет текста */
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    footer {
        font-size: 12px;
    }
}
